<article class="post">
    <div class="title">
        <a href="{{post-title}}" target="_blank">{{title}}</a>
    </div>
    <div class="meta">
        <a href="{{post-info}}" target="_blank">{{info}}</a>
    </div>
</article>