    <div class="columns">
        <div class="column is-full border mb-2  has-background-light">
            <div class="columns">
                <img class="column is-2 ml-3 borderRight" src="/images/img placeholder.png" alt="Item Image" style="width: 200px; height: 200px;">
                <div id="" class="column is-2 borderRight">
                    <p><strong>Title:</strong> "title of item"</p>
                    <p><strong>Price:</strong> "price of item"</p>
                    <p><strong>Shipping:</strong> "Yes/No"</p>
                </div>
                <div class="column is-6 borderRight">
                    <p><strong>Description:</strong></p>
                    <p>this will be the description of your product</p>
                </div>
                <div class="column is-2">
                    <a id="" class="button is-info">
                        <strong>Reviews</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>