<div class="reviews">
    {{#each this}}
    <section class="review">
        <div class="meta">
            {{user.username}} on {{format_date created_at}}
        </div>
        <div class="buyers-review">
            {{buyers_review}}
        </div>
    </section>
    {{/each}}
</div>