<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Stack Marketplace</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

  <body>
    <!--Header/Navbar-->
    <nav class="navbar has-background-light mb-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="/public/images/marketplace placeholder.png" alt="Full Stack Marketplace Logo" style="width: 300px; height: 100px;">            
        </div>    
        <div class="navbar-end">
            <div class="navbar-item">
                {{#if loggedIn}}
                <!-- Dashboard and New Listing will only be visiable when logged in -->
                <div class="buttons">
                    <a class="button is-light">
                        Dashboard
                    </a>
                    <a class="button is-light">
                        New Listing
                    </a>
                    {{else}}
                    <!-- always visable -->
                    <a id="sign-up" class="button is-info">
                        <strong>Sign up / Sign in</strong>
                    </a>
                    {{/if}}
                </div>
            </div>
        </div>
        </div>
    </nav>

    <main>
      {{{ body }}}
    </main>


  {{!-- template code. not needed for project --}}
    {{!-- <div class="wrapper">
      <header>
        <h1>
          <a href="/">Project 2</a>
        </h1>
        <nav>
          {{#if loggedIn}}
          <a href="/dashboard">dashboard</a>
          <button id="logout" class="btn-no-style"></button>
          {{else}}
          <a href="/login">login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{ body }}}
      </main> 
  {{!-- end of template code --}}


    <!-- Footer -->
  <footer class="footer has-background-light">
      <div class="content has-text-centered">
        <p>
          Thanks for visiting <strong>Full Stack Marketplace</strong> by <a href="https://github.com/austinxewell/project-2">Group 8</a>.
        </p>
      </div>
  </footer>

    {{!-- not sure of this until route is created. --}}
    {{!-- {{#if loggedIn}}
    <script src="/public/javascript/logout.js"></script>
    {{/if}}
  </body>
  
</html>