<!--Header/Navbar-->
    <nav class="navbar has-background-light mb-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="../public/images/marketplace placeholder.png" alt="Full Stack Marketplace Logo" style="width: 300px; height: 100px;">            
        </div>    
        <div class="navbar-end">
            <div class="navbar-item">
            <div class="buttons">
                <a class="button is-light">
                Home
                </a>
                <a class="button is-light">
                Dashboard
                </a>
                <a class="button is-light">
                    New Listing
                </a>
                <a id="sign-up" class="button is-info">
                    <strong>Logout</strong>
                </a>
            </div>
            </div>
        </div>
        </div>
    </nav>

    <!-- Body -->
    <!-- Buyers Username text -->
    <div class="columns">
        <div class="column is-10">
            <p class="is-size-2 ml-3 has-text-white">"Buyer's Username":</p>
        </div>
    </div>

        <!-- Buyers review post 1 -->
    <div class="columns">
        <div class="column is-full border mb-2 has-background-light">
            <div class="columns">
                <div id="" class="column is-12 ml-6">
                    <p><strong>Comments for Buyer:</strong></p>
                    <p>fill with some sort of info about buyer</p>
                    <p><strong>-"user name of who left review"</strong></p>
                </div>
            </div>
        </div>
    </div>

        <!-- Buyers review post 1 -->
    <div class="columns">
        <div class="column is-full border mb-2 has-background-light">
            <div class="columns">
                <div id="" class="column is-12 ml-6">
                    <p><strong>Comments for Buyer:</strong></p>
                    <p>fill with some sort of info about buyer</p>
                    <p><strong>-"user name of who left review"</strong></p>
                </div>
            </div>
        </div>
    </div>
