<!--Header/Navbar-->
    <nav class="navbar has-background-light mb-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="/images/marketplace placeholder.png" alt="Full Stack Marketplace Logo" style="width: 300px; height: 100px;">            
        </div>    
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/" class="button is-light"><span> Home <i class="fas fa-home"></i></span></a>
                    <a href="/dashboard" class="button is-light">
                        <span> Dashboard <i class="fas fa-tachometer-alt"></i></span>
                    </a>
                    <a href="/mylisting" class="button is-light"><span> New Listing <i class="fas fa-plus-circle"></i></span></a>
                    <button id="logout" class="button is-info">
                        <span><strong> Logout <i class="fas fa-sign-out-alt"></i></strong></span>
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <!-- Body -->
    <!-- Buyers Username text -->
    <h2 class="is-size-2 is-underlined has-text-white ml-3">Reviews</h2>
    <div class="columns">
        <div class="column is-10">
            <p class="is-size-3 ml-3 has-text-white">Seller: austinxewell</p>
        </div>
    </div>

        <!-- Buyers review post 1 -->
    <div class="columns">
        <div class="column is-full border mb-2 has-background-light">
            <div class="columns">
                <div id="" class="column is-12 ml-6">
                    <p>This seller plays too much Destiny 2</p>
                    <p><strong>-test1</strong></p>
                </div>
            </div>
        </div>
    </div>

        <!-- Buyers review post 1 -->
    <div class="columns">
        <div class="column is-full border mb-2 has-background-light">
            <div class="columns">
                <div id="" class="column is-12 ml-6">
                    <p>Dependable and knows what is up.</p>
                    <p><strong>-test2</strong></p>
                </div>
            </div>
        </div>
    </div>

<script src="/javascript/logout.js"></script>