<section>
    <h2>Create New Post</h2>

    <form class="new-listing-form">
        <div>
            <label for="newlisting-title">Title</label>
            <input type="text" id="newlisting-title" name="newlisting-title" />
        </div>
        <div>
            <label for="">Link</label>
            <input id="post-url" name="post-url" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>
{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/public/javascript/add-post.js"></script>