    <!--Header/Navbar-->
    <nav class="navbar has-background-light mb-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="/images/marketplace placeholder.png" alt="Full Stack Marketplace Logo" style="width: 300px; height: 100px;">            
        </div>    
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/" class="button is-light">Home</a>
                    <a href="/mylisting" class="button is-light">New Listing</a>
                    <button id="logout" class="button is-info">
                        <strong>Logout</strong>
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <!-- Body -->
    <!-- Purchased Items text and Add Money Button -->
    <h2 class="is-size-2 is-underlined has-text-white ml-3">Dashboard</h2>
    <div class="columns">
        <div class="column is-10">
            <p class="is-size-3 ml-3 has-text-white">Purchased Items:</p>
        </div>
        <div class="column is-2">
            <div class="buttons">
                <a id="addMoney" class="button is-$white has-text-info">
                    <strong>Add Money!</strong>
                </a>
            </div>
        </div>
    </div>

        <!-- Purchased Item 1-->
    <div class="columns">
        <div class="column is-full border mb-2  has-background-light">
            <div class="columns">
                <img class="column is-2 ml-3 borderRight" src="/images/minorxthreat logo.JPG" alt="Item Image" style="width: 200px; height: 200px;">
                <div id="" class="column is-2 borderRight">
                    <p><strong>Title:</strong> MinorxThreat</p>
                    <p><strong>Price:</strong> 35</p>
                    <p><strong>Shipping:</strong> No</p>
                </div>
                <div class="column is-6 borderRight">
                    <p><strong>Description:</strong></p>
                    <p>This is my gamer tag. Lets play Destiny 2</p>
                </div>
                <div class="column is-2">
                    <a id="" class="button is-info">
                        <strong>Leave Review</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>

{{!-- purchased-items partial --}}
<ol class='post-list'>
    {{#each posts as |post|}}
    <li>
        {{> purchased-items post }}
    </li>
    <br>
    {{/each}}
</ol>

    <!-- My Listings text -->
    <div class="columns">
        <div class="column is-10">
            <p class="is-size-3 ml-3 has-text-white">My Listings:</p>
        </div>
    </div>



{{!-- demo code for my listing item--}}
    <div class="columns">
        <div class="column is-full border mb-2  has-background-light">
            <div class="columns">
                <img class="column is-2 ml-3 borderRight" src="/images/200x300 (3).jpg" alt="Item Image" style="width: 200px; height: 200px;">
                <div id="" class="column is-2 borderRight">
                    <p><strong>Title:</strong> He is Watching You</p>
                    <p><strong>Price:</strong> 35</p>
                    <p><strong>Shipping:</strong> Yes</p>
                </div>
                <div class="column is-auto borderRight">
                    <p><strong>Description:</strong></p>
                    <p>He is always watching.</p>
                </div>

                </ol>
            </div>
        </div>
    </div>

<script src="/javascript/logout.js"></script>
<script src="/javascript/money.js"></script>