    <!--Header/Navbar-->
    <nav class="navbar has-background-light mb-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="/images/marketplace placeholder.png" alt="Full Stack Marketplace Logo" style="width: 300px; height: 100px;">            
        </div>    
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/" class="button is-light"><span> Home <i class="fas fa-home"></i></span></a>
                    <a href="/mylisting" class="button is-light"><span> New Listing <i class="fas fa-plus-circle"></i></span></a>
                    <button id="logout" class="button is-info">
                        <span><strong> Logout <i class="fas fa-sign-out-alt"></i></strong></span>
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <!-- Body -->
    <!-- Purchased Items text and Add Money Button -->
    <h2 class="is-size-2 is-underlined has-text-white ml-3">Dashboard</h2>
    <div class="columns">
        <div class="column is-10">
            <p class="is-size-4 ml-3 has-text-white"><i>Purchased Items:</i></p>
        </div>
        <div class="column is-2">
            <div class="buttons">
                <a id="addMoney" class="button is-$white has-text-info">
                    <span><strong>Add Money!  </strong><i class="fas fa-money-check-alt"></i></i></span>
                </a>
            </div>
        </div>
    </div>

        <!-- Demo code for purchased Item -->
    <div class="columns">
        <div class="column is-full border mb-2  has-background-light">
            <div class="columns">
                <img class="column is-2 ml-3 borderRight" src="/images/minorxthreat logo.JPG" alt="Item Image" style="width: 200px; height: 200px;">
                <div id="" class="column is-2 borderRight">
                    <p><strong>Title:</strong> MinorxThreat</p>
                    <p><strong>Price:</strong> 35</p>
                    <p><strong>Shipping:</strong> No</p>
                </div>
                <div class="column is-6 borderRight">
                    <p><strong>Description:</strong></p>
                    <p>Dummy Data, not in database.</p>
                </div>
                <div class="column is-2">
                    <a href="/buyer-reviews/post-review" id="" class="button is-info">
                        <span><strong>Leave Review  </strong><i class="fas fa-plus"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

{{!-- purchased-items partial --}}
<ol class='post-list'>
    {{#each posts as |post|}}
    <li>
        {{> purchased-items post }}
    </li>
    <br>
    {{/each}}
</ol>

    <!-- My Listings text -->
    <div class="columns">
        <div class="column is-10">
            <p class="is-size-4 ml-3 has-text-white"><i>My Listings:</i></p>
        </div>
    </div>

{{!-- Code for my listing item--}}
    <ul class='post-list'>
        {{#each posts as |post|}}
            <li>
                {{> post-info post }}
                    <div class="column is-2">
                        <a name="delete" class=" button is-danger mb-3">
                             <span><strong>Delete</strong></span>
                        </a>
                        <a href="/buyer-reviews" id="" class="button is-info ">
                            <strong>Reviews</strong>
                        </a>
                    </div>
            </li>
        {{/each}}
    </ul>

            <!-- Demo code for my listings Item -->
    <div class="columns">
        <div class="column is-full border mb-2  has-background-light">
            <div class="columns">
                <img class="column is-2 ml-3 borderRight" src="/images/minorxthreat logo.JPG" alt="Item Image" style="width: 200px; height: 200px;">
                <div id="" class="column is-2 borderRight">
                    <p><strong>Title:</strong> MinorxThreat</p>
                    <p><strong>Price:</strong> 35</p>
                    <p><strong>Shipping:</strong> No</p>
                </div>
                <div class="column is-6 borderRight">
                    <p><strong>Description:</strong></p>
                    <p>Dummy Data, not in database.</p>
                </div>
                <div class="column is-2">
                    <a id="" class="button is-danger">
                        <span><strong>Delete  </strong><i class="fas fa-trash"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>


<script src="/javascript/logout.js"></script>
<script src="/javascript/money.js"></script>