 
 <!--Header/Navbar-->
    <nav class="navbar has-background-light mb-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="/images/marketplace placeholder.png" alt="Full Stack Marketplace Logo" style="width: 300px; height: 100px;">            
        </div>    
        <div class="navbar-end">
            <div class="navbar-item">
            <div class="buttons">
                <a href="/" class="button is-light">
                Home
                </a>
                <a href="/mylisting" class="button is-light">
                New Listing
                </a>
                <a id="sign-up" class="button is-info">
                    <strong>Logout</strong>
                </a>
            </div>
            </div>
        </div>
        </div>
    </nav>

    <!-- Body -->
    <!-- Purchased Items text and Add Money Button -->
    <div class="columns">
        <div class="column is-10">
            <p class="is-size-2 ml-3 has-text-white">Purchased Items:</p>
        </div>
        <div class="column is-2">
            <div class="buttons">
                <a id="" class="button is-$white has-text-info">
                <strong>Add Money!</strong>
                </a>
            </div>
        </div>
    </div>

        <!-- Purchased Item 1-->
    <div class="columns">
        <div class="column is-full border mb-2  has-background-light">
            <div class="columns">
                <img class="column is-2 ml-3 borderRight" src="/images/img placeholder.png" alt="Item Image" style="width: 200px; height: 200px;">
                <div id="" class="column is-2 borderRight">
                    <p><strong>Title:</strong> "title of item"</p>
                    <p><strong>Price:</strong> "price of item"</p>
                    <p><strong>Shipping:</strong> "Yes/No"</p>
                </div>
                <div class="column is-6 borderRight">
                    <p><strong>Description:</strong></p>
                    <p>this will be the description of your product</p>
                </div>
                <div class="column is-2">
                    <a id="" class="button is-info">
                        <strong>Reviews</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>

{{!-- purchased-items partial --}}
<ol class='post-list'>
    {{#each posts as |post|}}
    <li>
        {{> purchased-items post }}
    </li>
    <br>
    {{/each}}
</ol>

        <!-- My Listings text -->
    <div class="columns">
        <div class="column is-10">
            <p class="is-size-2 ml-3 has-text-white">My Listings:</p>
        </div>
    </div>

<!-- my-listings partials -->

<ol class='post-list'>
    {{#each posts as |post|}}
    <li>
        {{> my-listings post }}
    </li>
    <br>
    {{/each}}
</ol>


{{!-- demo code for my listing item--}}
    <div class="columns">
        <div class="column is-full border mb-2  has-background-light">
            <div class="columns">
                <img class="column is-2 ml-3 borderRight" src="/images/img placeholder.png" alt="Item Image" style="width: 200px; height: 200px;">
                <div id="" class="column is-2 borderRight">
                    <p><strong>Title:</strong> "title of item"</p>
                    <p><strong>Price:</strong> "price of item"</p>
                    <p><strong>Shipping:</strong> "Yes/No"</p>
                </div>
                <div class="column is-auto borderRight">
                    <p><strong>Description:</strong></p>
                    <p>this will be the description of your product</p>
                </div>
            </div>
        </div>
    </div>
{{!-- end of demo code for my listing item --}}

 {{!-- Template code --}}
    {{!-- <!-- Body -->
    <!-- Purchased Listings text and Add Money Button -->
    <div class="columns">
        <div class="column is-10">
            <p class="is-size-2 ml-3 has-text-white">Purchased Listings:</p>
        </div>
        <div class="column is-2">
            <div class="buttons">
                <a id="" class="button is-$white has-text-info">
                <strong>Add Money!</strong>
                </a>
            </div>
        </div>
    </div>

    <h2>Create New Listing</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Listing Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-price">Listing Price</label>
            <input type="number" id="post-price" name="post-price" />
        </div>
        <div>
            <label for="post-info">Listing Information</label>
            <input type="text" id="post-info" name="post-info" />
        </div>
        <div>
            <label for="">Listing shipping</label>
            <input type="checkbox" id="post-shipping" name="post-shipping" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>
{{#if posts.length}}
<section>
    <h2>Your Listing</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-title post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-title">Edit Listing Title</a>
        </li>
        <li>
            {{> post-price post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-price">Edit Listing Price</a>
        </li>
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-info">Edit Listing Information</a>
        </li>
        <li>
            {{> post-shipping post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-shipping">Edit Listing Shipping</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}} --}}

{{!-- <script src="/public/javascript/add-post.js"></script>  --}}
{{!-- end of template code --}}