 <!--Header/Navbar-->
<nav class="navbar has-background-light mb-5" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <img src="/images/marketplace placeholder.png" alt="Full Stack Marketplace Logo" style="width: 300px; height: 100px;">            
    </div>    
    <div class="navbar-end">
        <div class="navbar-item">
        <div class="buttons">
            <a href="/" class="button is-light">
            Home
            </a>
            <a href="/dashboard" class="button is-light">
            Dashboard
            </a>
            <a id="sign-up" class="button is-info">
                <strong>Logout</strong>
            </a>
        </div>
        </div>
    </div>
    </div>
</nav>

<section>
    <h2>Create New Post</h2>
    <form class='new-post-form' id="new-post-form" enctype="multipart/form-data" method="POST" action="/api/posts">
        <!-- Add Img section -->
        <div class="column is-full border mb-2  has-background-light">
            <div class="columns">
                <div id="" class="column is-2 borderRight">
                    <textarea class="textAreaInfo" name="item_title" placeholder=" Title of Item:" ></textarea>
                    <textarea class="textAreaInfo" name="item_price" placeholder=" Price of Item:" ></textarea>
                    <textarea class="textAreaInfo" name="item_shipping" placeholder=" Shipping Info:" ></textarea>
                    <input type='file' id='item_img' name='item_img' />
                </div>

                <!-- Text area for description -->
                <textarea class="column is-auto" name='item_description' placeholder=" Description of Item:" ></textarea>
            </div>
            </div>
            <!-- Submit button -->
            <div class="column">
            <div class="buttons column is-2">
                {{!-- <a id="" class="button is-$white has-text-info ml-5">
                <strong>Submit</strong>
                </a> --}}
                <button type='submit' class='btn'>Create</button>
            </div>
        </div>
    </form>
</section>