 <!--Header/Navbar-->
    <nav class="navbar has-background-light mb-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="/images/marketplace placeholder.png" alt="Full Stack Marketplace Logo" style="width: 300px; height: 100px;">            
        </div>    
        <div class="navbar-end">
            <div class="navbar-item">
            <div class="buttons">
                <a href="/" class="button is-light">
                Home
                </a>
                <a href="/dashboard" class="button is-light">
                Dashboard
                </a>
                <a id="sign-up" class="button is-info">
                    <strong>Logout</strong>
                </a>
            </div>
            </div>
        </div>
        </div>
    </nav>

    <!-- Add Img section -->
<div class="column is-full border mb-2  has-background-light">
    <div class="columns">
        <div class="column is-2 borderRight">
            <!-- Img uploading tech should replace img placeholder -->
            <img class="column is-2 ml-3" src="/images/img placeholder.png" alt="Item Image" style="width: 200px; height: 200px;">
            <!-- If this button is needed -->
            <div class="buttons ml-5">
                <a id="" class="button is-info">
                <strong>Upload Image</strong>
                </a>
            </div>
        </div>
        <!-- Text areas for title, price, and shipping -->
        <div id="" class="column is-2 borderRight">
            <textarea class="textAreaInfo" placeholder=" Title of Item:" ></textarea>
            <textarea class="textAreaInfo" placeholder=" Price of Item:" ></textarea>
            <textarea class="textAreaInfo" placeholder=" Shipping Info:" ></textarea>
        </div>
            <!-- Text area for description -->
            <textarea class="column is-auto" placeholder=" Description of Item:" ></textarea>
    </div>
</div>
<!-- Submit button -->
<div class="column">
    <div class="buttons column is-2">
        <a id="" class="button is-$white has-text-info ml-5">
        <strong>Submit</strong>
        </a>
    </div>
</div>