<!--Header/Navbar-->
<nav class='navbar has-background-light mb-5' role='navigation' aria-label='main navigation'>
   <div class='navbar-brand'>
      <img
         src='/images/marketplace placeholder.png'
         alt='Full Stack Marketplace Logo'
         style='width: 300px; height: 100px;'
      />
   </div>
   <div class='navbar-end'>
      <div class='navbar-item'>
         <div class='buttons'>
            <a href='/' class='button is-light'>
               Home
            </a>
            <a href='/dashboard' class='button is-light'>
               Dashboard
            </a>
            <button id='logout' class='button is-info'>
               <strong>Logout</strong>
            </button>
         </div>
      </div>
   </div>
</nav>

{{! <textarea class="textAreaInfo" name="item_shipping" placeholder=" Shipping Info:" ></textarea> }}

<section>
   <h2 class="is-size-2 is-underlined has-text-white ml-3">Create New Listing</h2>
   <br>
   <form class='new-post-form' id='new-post-form' enctype='multipart/form-data' method='POST' action='/api/posts'>
      <!-- Add Img section -->
      <div id='new-post-form' class='column is-full border mb-2 has-background-light'>
         <div class='columns'>
            <div class='column is-2 borderRight'>
               <input type='file' id='item_img' name='item_img' class="fileBottom" />
            </div>
            <div class='column is-2 borderRight'>
               <textarea
                  id='post-title'
                  class='textAreaInfo'
                  name='item_title'
                  placeholder=' Title of Item:'
               >{{post-title}}</textarea>
               <textarea
                  id='post-price'
                  class='textAreaInfo'
                  name='item_price'
                  placeholder=' Price of Item:'
               >{{post-price}}</textarea>
               <br>
               <label>Shipping: </label>
                    <select class="dropdown"> Shipping: 
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
            </div>
            <!-- Text area for description -->
            <textarea
               class='column is-6 borderRight'
               name='item_description'
               placeholder=' Description of Item:'
            >{{post-desciption}}</textarea>
            {{! submit button }}
            <div class='column is-2'>
               <button type='submit' class='button is-info'>
                  <strong>Submit</strong>
               </button>
            </div>
         </div>
      </div>
   </form>
</section>

{{! <script src="/javascript/add-post.js"></script>  }}
<script src='/javascript/logout.js'></script>