<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Listing
    </h2>
    <form class="edit-post-form">
        <div>
            <input name="post-title" type="text" value="{{post.title}}" />
            <input name="post-price" type="Number" value="{{post.price}}" />
            <input name="post-info" type="text" value="{{post.info}}" />
            <input name="post-shipping" type="checkbox" value="{{post.shipping}}" />
        </div>
        <button type="submit">Save Listing</button>
        <button type="button" class="delete-post-btn">Delete Listing</button>
    </form>
</article>

<script src="/public/javascript/edit-post.js"></script>
<script src="/public/javascript/delete-post.js"></script>
