 <!--Header/Navbar-->
    <nav class="navbar has-background-light mb-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="/images/marketplace placeholder.png" alt="Full Stack Marketplace Logo" style="width: 300px; height: 100px;">            
        </div>    
        <div class="navbar-end">
            <div class="navbar-item">
            <div class="buttons">
                <a href="/" class="button is-light">
                Home
                </a>
                <a href="/dashboard" class="button is-light">
                Dashboard
                </a>
                <button id="logout" class="button is-info">
                    <strong>Logout</strong>
                </button>
            </div>
            </div>
        </div>
        </div>
    </nav>

    <!-- Add Img section -->
<div id="new-post-form" class="column is-full border mb-2  has-background-light">
    <div class="columns">
        <div class="column is-2 borderRight">
            <!-- Img uploading tech should replace img placeholder -->
            <img class="column is-2 ml-3" src="/images/img placeholder.png" alt="Item Image" style="width: 200px; height: 200px;">
            <!-- If this button is needed -->
            <div class="buttons ml-5">
                <a id="" class="button is-info">
                <strong>Upload Image</strong>
                </a>
            </div>
        </div>
        <!-- Text areas for title, price, and shipping -->
        <div  class="column is-2 borderRight">
            <textarea id="post-title" class="textAreaInfo" placeholder=" Title of Item:" >{{post-title}}</textarea>
            <textarea id="post-price" class="textAreaInfo" placeholder=" Price of Item:" >{{post-price}}</textarea>
            <label>Shipping: </label>
            <select class="dropdown $dropdown-item-active-color"> Shipping: 
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
            <!-- Text area for description -->
            <textarea class="column is-6 borderRight" placeholder=" Description of Item:" >{{post-desciption}}</textarea>
            {{!-- submit button --}}
        <div class="column is-2">
            <button class="button is-info">
                <strong>Submit</strong>
            </button>
        </div>
    </div>
</div>

<script src="/javascript/add-post.js"></script> 
<script src="/javascript/logout.js"></script>