<!--Header/Navbar-->
    <nav class="navbar has-background-light mb-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="/images/marketplace placeholder.png" alt="Full Stack Marketplace Logo" style="width: 300px; height: 100px;">            
        </div>    
        <div class="navbar-end">
            <div class="navbar-item">
            <div class="buttons">
                <a id="sign-up" class="button is-info">
                <strong>Home</strong>
                </a>
            </div>
            </div>
        </div>
        </div>
    </nav>

    <!-- Body/Login -->
    <!-- sign in form -->
    <form class="pl-5 p-2 has-background-light">
        <textarea class="textAreaLogin" cols="30" rows="1" placeholder="Email:"></textarea>
        <br>
        <textarea class="textAreaLogin" cols="30" rows="1" placeholder="Password:"></textarea>
        <div class="buttons">
            <a id="sign-up" class="button is-info">
            Login
            </a>
        </div>
    </form>
    <!-- sign up form -->
    <form class="pl-5 p-2 has-background-light">
        <textarea class="textAreaLogin" cols="30" rows="1" placeholder="Username:"></textarea>
        <br>
        <textarea class="textAreaLogin" cols="30" rows="1" placeholder="Email:"></textarea>
        <br>
        <textarea class="textAreaLogin" cols="30" rows="1" placeholder="Password:"></textarea>
        <div class="buttons">
            <a id="sign-up" class="button is-info">
            Sign Up
            </a>
        </div>
    </form>
{{!-- not sure if we need below code waiting for approval to remove. Yes this is needed.  It uses the javascript file in public to actually handle the function of inputing a new user.  Go look at the login.js file in Public--}}
<script src="/public/javascript/login.js"></script>