<nav class="navbar has-background-light mb-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="/images/marketplace placeholder.png" alt="Full Stack Marketplace Logo" style="width: 300px; height: 100px;">            
        </div>    
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/" class="button is-light">
                        <span> Home <i class="fas fa-home"></i></span>
                    </a>
                    <a href="/dashboard" class="button is-light">
                        <span> Dashboard <i class="fas fa-tachometer-alt"></i></span>
                    </a>
                    <a href="/mylisting" class="button is-light">
                        <span> New Listing <i class="fas fa-plus-circle"></i></span>
                    </a>
                    <button id="logout" class="button is-info">
                        <span><strong> Logout <i class="fas fa-sign-out-alt"></i></strong></span>
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <!-- Body -->
    <!-- Sellers Username text -->
    <h2 class="is-size-2 is-underlined has-text-white ml-3">Post Review</h2>
    <div class="columns">
        <div class="column is-10">
            <p class="is-size-4 ml-3 has-text-white"><i>Seller: austinxewell</i></p>
        </div>
    </div>

        <!-- Post Buyers review -->
        <div class="columns">
            <div class="column is-full border mb-2  has-background-light">
                <div class="columns">
                    <div id="review-form" class="column is-2 borderRight ml-3">
                        <p><strong>Title:</strong> MinorxThreat</p>
                        <p><strong>Price:</strong> 35</p>
                        <p><strong>Shipping:</strong> No</p>
                    </div>
                    <textarea
                        id="post-description"
                        class='column is-8 borderRight'
                        name='item_description'
                        placeholder=' Leave your review:'
                    ></textarea>
                    <div class="column is-2">
                        <a id="submit" class="button is-info">
                            <span><strong>Submit Review </strong><i class="fas fa-plus"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

<script src="/javascript/logout.js"></script>