* {
  font-family: 'Varela Round', sans-serif;
}
.border {
  border-style: solid;
}

.borderRight {
  border-right: solid;
}

.login-form, .signup-form {
  margin: 10px;
}

.textAreaInfo {
  width: 175px;
  border: solid;
  border-width: 2px;
  border-color: #227dd2;
  resize: none;
}

.textAreaLogin {
  border: solid;
  border-width: 2px;
  border-color: #227dd2;
  resize: none;
}

.passwordProtection {
  -webkit-text-security: disc;
}

.fileBottom {
  padding-top: 40%;
}

h2 {
  font-family: 'Vidaloka', serif;
}

.buttonSize {
  width: 80%
}